{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017
  },

  "env": {
    "commonjs": true,
    "browser": true,
    "node": true,
    "es6": true
  },

  "rules": {
    "no-console": 0,
    "no-constant-condition": 0,
    "complexity": ["error", {"max" : 6}],
    "max-depth": ["error", {"max" : 2}],
    "max-nested-callbacks": ["error", {"max" : 2}],
    "max-params": ["error", {"max" : 3}],
    "max-statements": ["error", {"max" : 17}, {"ignoreTopLevelFunctions": false}],
    "max-len": ["error", {"code" : 120}],
    "max-lines": ["error", {"max": 250, "skipComments": true, "skipBlankLines": true}],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}]
  }
}
